<div class="carousel-inner" role="listbox">
  <carousel>
    <slide>
      <img src="assets/imgs/doge.jpg" alt="first slide" style="display: block; width: 512px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Doge said:</h3>
        <p>What are you doing? So scare. It's alright now.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/imgs/cat.jpg" alt="second slide" style="display: block; width: 512px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Crazy cat said:</h3>
        <p>I will never forgive you...</p>
      </div>
    </slide>
    <slide>
      <img src="assets/imgs/laika.jpg" alt="third slide" style="display: block; width: 512px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Laika said:</h3>
        <p>Hey! How are you?</p>
      </div>
    </slide>
  </carousel>
</div>

<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#carousel-notification" data-slide-to="0" class="active"></li>
  <li data-target="#carousel-notification" data-slide-to="1"></li>
  <li data-target="#carousel-notification" data-slide-to="2"></li>
</ol>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-notification" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-notification" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>