<div class="card">
  <div style="display: flex">
    <div style="margin: 0 auto; padding: 20px">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        style="max-width: 100%; max-height: 100%; display: inline-block"
      >
      </highcharts-chart>
    </div>
  </div>
</div>
<!-- <div class="stocks-switch">
  <div class="switch">
    View main stocks
  <input type="checkbox" />
</div>
</div>
<div class="switch">
    Hide empty stocks
  <input type="checkbox" />
<div class="clearfix"></div>
  </div> -->
